<div style="overflow-y:scroll;max-height: calc(100vh - 4rem);backdrop-filter: blur(8px);" class="w-768 bg-white font-grey-700 dark:font-grey-300 dark:bg-grey-900/87 border-1 border-solid border-grey-300 dark:border-grey-800 shadow-black-sm radius-0.5">
    <div class="px-2 pt-1.75 pb-1">
        <h1 class="font-grey-900 dark:font-grey-100 font-2xl line-normal font-bold block">Terms of Service</h1>
        <p class="block mb-1">
            Last Updated: 2023-11-30
        </p>

        <p class="block mb-1">Welcome to Tabletopper! Please carefully read these Terms of Service ("Terms") before using Tabletopper ("Service"). By accessing or using the Service, you agree to be bound by these Terms. If you do not agree with any part of these Terms, you may not use the Service.</p>

        <h2 class="font-grey-100 block mb-1 font-lg font-medium">Acceptance of Terms</h2>
        <p class="block mb-1">By accessing or using the Tabletopper web application, you agree to be bound by these Terms and all applicable laws and regulations. If you do not agree with any of these terms, you are prohibited from using or accessing this site.</p>
       
        <h2 class="font-grey-100 block mb-1 font-lg font-medium">Description of Service</h2>
        <p class="block mb-1">Tabletopper is a web application designed to enhance the tabletop gaming experience by providing tools for creating, managing, and sharing game sessions, characters, and related content.</p>

        <h2 class="font-grey-100 block mb-1 font-lg font-medium">User Registration</h2>
        <p class="block mb-1">In order to access certain features of the Service, you may be required to register for an account. You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete.</p>

        <h2 class="font-grey-100 block mb-1 font-lg font-medium">User Content</h2>
        <p class="block mb-1">Users of Tabletopper may submit, upload, or otherwise make available content, including text, images, and other materials. By submitting content, you grant Tabletopper a worldwide, non-exclusive, royalty-free license to use, reproduce, distribute, modify, adapt, publicly perform, and publicly display such content.</p>

        <h2 class="font-grey-100 block mb-1 font-lg font-medium">Prohibited Conduct</h2>
        <p class="block mb-1">You agree not to engage in any of the following activities:</p>
        <ul class="block mb-3">
            <li style="list-style-type: disc;">Violating any applicable laws or regulations.</li>
            <li style="list-style-type: disc;">Impersonating any person or entity.</li>
            <li style="list-style-type: disc;">Interfering with the proper functioning of the Service.</li>
            <li style="list-style-type: disc;">Attempting to gain unauthorized access to other users' accounts.</li>
        </ul>

        <h2 class="font-grey-100 block mb-1 font-lg font-medium">Intellectual Property</h2>
        <p class="block mb-1">All content and materials available on the Service, including but not limited to text, graphics, logos, button icons, images, audio clips, and data compilations, is the property of Tabletopper or its licensors and is protected by copyright, trademark, and other intellectual property laws.</p>

        <h2 class="font-grey-100 block mb-1 font-lg font-medium">Termination</h2>
        <p class="block mb-1">Tabletopper reserves the right to terminate your access to the Service at its sole discretion, without notice, for any conduct that Tabletopper, in its sole discretion, believes is in violation of these Terms or is harmful to other users, third parties, or Tabletopper itself.</p>

        <h2 class="font-grey-100 block mb-1 font-lg font-medium">Disclaimer of Warranties</h2>
        <p class="block mb-1">The Service is provided on an "as is" and "as available" basis. Tabletopper makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property.</p>

        <h2 class="font-grey-100 block mb-1 font-lg font-medium">Limitation of Liability</h2>
        <p class="block mb-1">In no event shall Tabletopper be liable for any damages arising out of the use or inability to use the Service, even if Tabletopper or a Tabletopper authorized representative has been notified orally or in writing of the possibility of such damage.</p>

        <h2 class="font-grey-100 block mb-1 font-lg font-medium">Changes to Terms</h2>
        <p class="block mb-1">Tabletopper reserves the right to modify or replace these Terms at any time. Your continued use of the Service after any such changes constitutes your acceptance of the new Terms.</p>

        <h2 class="font-grey-100 block mb-1 font-lg font-medium">Governing Law</h2>
        <p class="block mb-1">These Terms shall be governed by and construed in accordance with the laws of Michigan, USA.</p>

        <p class="block">Thank you for using Tabletopper! May your gaming adventures be epic!</p>
    </div>
    <div flex="justify-end items-center row nowrap" class="p-1 bg-grey-100 dark:bg-grey-950/60 border-t-1 border-t-solid border-t-grey-200 dark:border-t-grey-800">
        <a
            class="bttn" 
            kind="solid" 
            color="grey"
            href="/"
        >Close</a>
    </div>
</div>
