<h2 class="font-grey-800 dark:font-grey-100 font-bold block px-1.5 pt-1.25 pb-1.25 border-b-solid border-b-1 border-b-grey-300 dark:border-b-grey-700">Your Images</h2>
<div 
    class="images"
>
    <form 
        class="upload-image-button" 
        sfx="button"
        action="/user/image"
        method="POST"
        enctype="multipart/form-data"
    >
        <label for="upload">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                <polyline points="7 9 12 4 17 9"></polyline>
                <line x1="12" y1="4" x2="12" y2="16"></line>
            </svg>
            <span>Upload</span>
        </label>
        <input 
            type="file" 
            accept="image/png, image/jpg, image/jpeg" 
            id="upload" 
            name="file"
            hx-post="/user/image"
            hx-trigger="change once"
            hx-target="user-menu .modal"
            hx-encoding="multipart/form-data"
        >
    </form>
    {% for image in Images %}
        <button 
            sfx="button" 
            class="token-button" 
            aria-label="{{ image.Name }}" 
            tooltip
            x-on:click="selected = 'characters/{{ User.Id }}/{{ image.FileId }}'"
            :class="{ 'is-selected': selected == 'characters/{{ User.Id }}/{{ image.FileId }}' }"
        >
            <img 
                src="https://tabletopper.nyc3.cdn.digitaloceanspaces.com/characters/{{ User.Id }}/{{ image.FileId }}" 
                alt="{{ image.Name }}" 
                draggalbe="false"
                onload="this.style.opacity = '1'"
                loading="lazy"
                width="92"
            >
            <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="24" 
                height="24" 
                viewBox="0 0 24 24" 
                stroke-width="2" 
                stroke="currentColor" 
                fill="none" 
                stroke-linecap="round" 
                stroke-linejoin="round"
                x-show="selected == 'characters/{{ User.Id }}/{{ image.FileId }}'"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="9"></circle>
                <path d="M9 12l2 2l4 -4"></path>
            </svg>
        </button>
    {% endfor %}
</div>
<div class="block w-full p-1">
    <div class="radius-0.5 w-full bg-grey-50 dark:bg-grey-950/60 p-1" flex="row nowrap items-center justify-end">
        <button
            sfx="button"
            x-on:click="open = false"
            class="bttn mr-1"
            kind="solid"
            color="grey"
        >Cancel</button>
        <button
            sfx="button"
            class="bttn"
            kind="solid"
            color="success"
            :disabled="selected == ''"
            x-on:click="open = false; $dispatch('character:load', { 'id': selected })"
        >Select</button>
    </div>
</div>
