# General
node_modules

# Server
server/.env
server/**/*.js
!server/uws/uws.js

# Source files
src/lib
src/framework

# Public
public/js
public/css
public/config.js
public/service-worker-assets.js
public/audio