<h2 class="font-grey-800 dark:font-grey-100 font-bold block px-1.5 pt-1.25 pb-1.25 border-b-solid border-b-1 border-b-grey-300 dark:border-b-grey-700">Create Monster</h2>
<div class="container w-full p-2" grid="columns 1 gap-1.5">
    {% include "stubs/tabletop/monster-image-upload.html" %}
    <input-component
        data-name="name"
        data-label="Name"
        data-required="true"
    ></input-component>
    <div class="w-full" grid="columns 2 gap-1.5">
        <select-component
            data-name="size"
            data-label="Size"
            data-required="true"
            data-options='[{"label":"Tiny","value":"Tiny"},{"label":"Small","value":"Small"},{"label":"Medium","value":"Medium"},{"label":"Large","value":"Large"},{"label":"Huge","value":"Huge"},{"label":"Gargantuan","value":"Gargantuan"}]'
            data-value="Medium"
        ></select-component>
        <select-component
            data-name="alignment"
            data-label="Alignment"
            data-required="true"
            data-options='[{"label":"Unaligned","value":"unaliged"},{"label":"Any Alignment","value":"any alignment"},{"label":"Lawful Good","value":"lawful good"},{"label":"Neutral Good","value":"neutral good"},{"label":"Chaotic Good","value":"chaotic good"},{"label":"Lawful Neutral","value":"lawful neutral"},{"label":"Neutral","value":"neutral"},{"label":"Chaotic Neutral","value":"chaotic neutral"},{"label":"Lawful Evil","value":"lawful evil"},{"label":"Neutral Evil","value":"neutral evil"},{"label":"Chaotic Evil","value":"chaotic evil"},{"label":"Any Neutral Alignment","value":"any neutral alignment"},{"label":"Any Good Alignment","value":"any good alignment"},{"label":"Any Chaotic Alignment","value":"any chaotic alignment"},{"label":"Any Lawful Alignment","value":"any lawful alignment"},{"label":"Any Non-Good Alignment","value":"any non-good alignment"}]'
            data-value="unaligned"
        ></select-component>
        <input-component
            data-name="type"
            data-label="Type"
        ></input-component>
        <input-component
            data-name="subtype"
            data-label="Subtype"
        ></input-component>
        <number-input-component
            data-name="ac"
            data-label="Armor Class"
            data-required="true"
        ></number-input-component>
        <number-input-component
            data-name="hp"
            data-label="Hit Points"
            data-required="true"
        ></number-input-component>
    </div>
    <input-component
        data-name="speed"
        data-label="Speed"
    ></input-component>
    <div class="w-full" grid="columns 3 gap-1.5">
        <number-input-component
            data-name="str"
            data-label="Strength"
            data-required="true"
        ></number-input-component>
        <number-input-component
            data-name="dex"
            data-label="Dexterity"
            data-required="true"
        ></number-input-component>
        <number-input-component
            data-name="con"
            data-label="Constitution"
            data-required="true"
        ></number-input-component>
        <number-input-component
            data-name="int"
            data-label="Intelligence"
            data-required="true"
        ></number-input-component>
        <number-input-component
            data-name="wis"
            data-label="Wisdom"
            data-required="true"
        ></number-input-component>
        <number-input-component
            data-name="cha"
            data-label="Charisma"
            data-required="true"
        ></number-input-component>
    </div>
    <input-component
        data-name="savingThrows"
        data-label="Saving Throws"
    ></input-component>
    <input-component
        data-name="skills"
        data-label="Skills"
    ></input-component>
    <input-component
        data-name="vulnerabilities"
        data-label="Vulnerabilities"
    ></input-component>
    <input-component
        data-name="resistances"
        data-label="Resistances"
    ></input-component>
    <input-component
        data-name="immunities"
        data-label="Inmunities"
    ></input-component>
    <input-component
        data-name="senses"
        data-label="Senses"
    ></input-component>
    <input-component
        data-name="languages"
        data-label="Languages"
    ></input-component>
    <div class="w-full" grid="columns 2 gap-1.5">
        <number-input-component
            data-name="cr"
            data-label="Challenge Rating"
        ></number-input-component>
        <number-input-component
            data-name="xp"
            data-label="XP"
        ></number-input-component>
    </div>
    <monster-info-table
        data-name="abilities"
        data-label="Abilities"
        data-add-label="Add Ability"
    ></monster-info-table>
    <monster-info-table
        data-name="actions"
        data-label="Actions"
        data-add-label="Add Action"
    ></monster-info-table>
    <monster-info-table
        data-name="reactions"
        data-label="Reactions"
        data-add-label="Add Reaction"
    ></monster-info-table>
    <monster-info-table
        data-name="legendaryActions"
        data-label="Legendary Actions"
        data-add-label="Add Legendary Action"
    ></monster-info-table>
    <monster-info-table
        data-name="lairActions"
        data-label="Lair Actions"
        data-add-label="Add Lair Action"
    ></monster-info-table>
</div>
<div class="p-1 block w-full">
    <div class="radius-0.5 w-full p-1 bg-grey-50 dark:bg-grey-950/60" flex="row nowrap items-center justify-end">
        <button
            class="mr-1 bttn"
            sfx="button"
            kind="solid"
            color="grey"
            x-on:click="open = false"
        >Cancel</button>
        <button
            class="bttn"
            sfx="button"
            kind="solid"
            color="success"
            x-on:click="open = false"
        >Create</button>
    </div>
</div>
