<monster-image-preview flex="row nowrap">
    <img 
        src="https://tabletopper.nyc3.cdn.digitaloceanspaces.com/{{ Image }}" 
        alt="{{ Name }}" 
        draggalbe="false"
        onload="this.style.opacity = '1'"
        loading="lazy"
        width="92"
        class="radius-0.5"
    >
    <button
        class="ml-1 my-auto bttn"
        sfx="button"
        kind="solid"
        color="danger"
        hx-delete="/monster/image/{{ Id }}"
        hx-swap="outerHTML"
        hx-target="monster-image-preview"
    >Delete</button>
    <input type="hidden" name="imageId" value="{{ Id }}">
</monster-image-preview>
