<div id="spotlight-search-results" class="results">
    {% for monster in Monsters %}
        <button
            class="bttn w-full text-left"
            kind="text"
            color="grey"
            x-on:click="open = false; $dispatch('tabletop:spawn-monster', { uid: '{{ monster.Id }}', hp: '{{ monster.HP }}', ac: '{{ monster.AC }}', name: '{{ monster.Name }}', size: '{{ monster.Size }}', image: '{% if monster.Image %}monsters/{{ User.Id }}/{{ monster.Image }}{% endif %}' })"
        >{{ monster.Name }}</button>
    {% endfor %}
</div>
