{% for monster in Monsters %}
    <label 
        for="{{ monster.Id }}"
        :class="selected == '{{ monster.Id }}' ? 'is-selected' : ''"
        role="button"
    >
        <input 
            type="checkbox" 
            name="monster" 
            value="{{ monster.Id }}" 
            id="{{ monster.Id }}"
            x-on:change="selected = '{{ monster.Id }}'; hp = {{ monster.HP }}; ac = {{ monster.AC }}; name = '{{ monster.Name|escape }}'; size = '{{ monster.Size }}'; image = {% if monster.Image %}'monsters/{{ User.Id }}/{{ monster.Image }}'{% else %}null{% endif %};"
        >
        {% if monster.Image %}
            <img 
                src="https://tabletopper.nyc3.cdn.digitaloceanspaces.com/monsters/{{ User.Id }}/{{ monster.Image }}" 
                alt="{{ monster.Name }}"
                style="opacity: 0;transition: opacity 150ms var(--ease-in);"
                onload="this.style.opacity = '1'"
                draggable="false"
            >
        {% else %}
            <div class="placeholder-pawn"></div>
        {% endif %}
        <span>{{ monster.Name }}</span>
    </label>
{% endfor %}
