<div calss="block">
    <div class="stats line-normal">
        <div class="block w-full p-0.5">
            <h3 class="block font-danger-800 dark:font-danger-600 font-lg font-bold font-serif">{{ Monster.Name }}</h3>
            <p style="font-style:italic;" class="block font-grey-900 dark:font-grey-300 font-xs">{{ Monster.Size }} {{ Monster.Type }} {{ Monster.Subtype }} {{ Monster.Alignment }}</p>
        </div>
        <hr>
        <p class="block w-full p-0.5 font-danger-800 dark:font-danger-600 font-sm">
            <strong>Armor Class</strong>
            <span class="dark:font-grey-300">{{ Monster.AC }}</span>
            <br>
            <strong>Hit Points</strong>
            <span class="dark:font-grey-300">{{ Monster.HP }}</span>
            <br>
            <strong>Speed</strong>
            <span class="dark:font-grey-300">{{ Monster.Speed }}</span>
            <br>
            <strong>Challenge</strong>
            <span class="dark:font-grey-300">{{ Monster.CR }} ({{ Monster.XP }})</span>
        </p>
        <hr>
        <div class="abilities p-0.5">
            <div class="text-center font-danger-800 dark:font-danger-600 font-sm">
                <strong class="block">STR</strong>
                <span class="dark:font-grey-300">{{ Monster.Strength }} ({{ CalculateModifier(Monster.Strength) }})</span>
            </div>
            <div class="text-center font-danger-800 dark:font-danger-600 font-sm">
                <strong class="block">DEX</strong>
                <span class="dark:font-grey-300">{{ Monster.Dexterity }} ({{ CalculateModifier(Monster.Dexterity) }})</span>
            </div>
            <div class="text-center font-danger-800 dark:font-danger-600 font-sm">
                <strong class="block">CON</strong>
                <span class="dark:font-grey-300">{{ Monster.Constitution }} ({{ CalculateModifier(Monster.Constitution) }})</span>
            </div>
            <div class="text-center font-danger-800 dark:font-danger-600 font-sm">
                <strong class="block">INT</strong>
                <span class="dark:font-grey-300">{{ Monster.Intelligence }} ({{ CalculateModifier(Monster.Intelligence) }})</span>
            </div>
            <div class="text-center font-danger-800 dark:font-danger-600 font-sm">
                <strong class="block">WIS</strong>
                <span class="dark:font-grey-300">{{ Monster.Wisdom }} ({{ CalculateModifier(Monster.Wisdom) }})</span>
            </div>
            <div class="text-center font-danger-800 dark:font-danger-600 font-sm">
                <strong class="block">CHA</strong>
                <span class="dark:font-grey-300">{{ Monster.Charisma }} ({{ CalculateModifier(Monster.Charisma) }})</span>
            </div>
        </div>
        <hr>
        <p class="block w-full p-0.5 font-danger-800 dark:font-danger-600 font-sm">
            <strong>Immunities</strong>
            <span class="dark:font-grey-300">{% if Monster.Immunities %}{{ Monster.Immunities }}{% else %}-{% endif %}</span>
            <br>
            <strong>Resistances</strong>
            <span class="dark:font-grey-300">{% if Monster.Resistances %}{{ Monster.Resistances }}{% else %}-{% endif %}</span>
            <br>
            <strong>Vulnerabilities</strong>
            <span class="dark:font-grey-300">{% if Monster.Vulnerabilities %}{{ Monster.Vulnerabilities }}{% else %}-{% endif %}</span>
            <br>
            <strong>Senses</strong>
            <span class="dark:font-grey-300">{% if Monster.Senses %}{{ Monster.Senses }}{% else %}-{% endif %}</span>
            <br>
            <strong>Languages</strong>
            <span class="dark:font-grey-300">{% if Monster.Languages %}{{ Monster.Languages }}{% else %}-{% endif %}</span>
            <br>
            <strong>Saving Throws</strong>
            <span class="dark:font-grey-300">{% if Monster.SavingThrows %}{{ Monster.SavingThrows }}{% else %}-{% endif %}</span>
            <br>
            <strong>Skills</strong>
            <span class="dark:font-grey-300">{% if Monster.Skills %}{{ Monster.Skills }}{% else %}-{% endif %}</span>
            <br>
            <strong>Proficiency Bonus</strong>
            <span class="dark:font-grey-300">{{ CalculateProficiencyBonus(Monster.CR) }}</span>
            <br>
        </p>
        <hr>
        {% if Abilities|length %}
            <strong class="block w-full px-0.5 pt-0.5 font-sm font-grey-900 dark:font-grey-100">Abilities</strong>
            <dl class="block w-full px-0.5 pb-0.5 font-sm font-grey-900 dark:font-grey-300">
                {% for ability in Abilities %}
                    <dt class="block mt-0.5 font-medium block">{{ ability.Name }}</dt>
                    <dd>{{ ability.Value }}</dd>
                {% endfor %}
            </dl>
        {% endif %}
        {% if Actions|length %}
            <strong class="block w-full px-0.5 pt-0.5 font-sm font-grey-900 dark:font-grey-100">Actions</strong>
            <dl class="block w-full px-0.5 pb-0.5 font-sm font-grey-900 dark:font-grey-300">
                {% for action in Actions %}
                    <dt class="block mt-0.5 font-medium block">{{ action.Name }}</dt>
                    <dd>{{ action.Value }}</dd>
                {% endfor %}
            </dl>
        {% endif %}
        {% if Reactions|length %}
            <strong class="blockw-full px-0.5 pt-0.5 font-sm font-grey-900 dark:font-grey-100">Reactions</strong>
            <dl class="block w-full px-0.5 pb-0.5 font-sm font-grey-900 dark:font-grey-300">
                {% for reaction in Reactions %}
                    <dt class="block mt-0.5 font-medium block">{{ reaction.Name }}</dt>
                    <dd>{{ reaction.Value }}</dd>
                {% endfor %}
            </dl>
        {% endif %}
        {% if LegendaryActions|length %}
            <strong class="block w-full px-0.5 pt-0.5 font-sm font-grey-900 dark:font-grey-100">Legendary Actions</strong>
            <dl class="block w-full px-0.5 pb-0.5 font-sm font-grey-900 dark:font-grey-300">
                {% for legendaryAction in LegendaryActions %}
                    <dt class="block mt-0.5 font-medium block">{{ legendaryAction.Name }}</dt>
                    <dd>{{ legendaryAction.Value }}</dd>
                {% endfor %}
            </dl>
        {% endif %}
        {% if LairActions|length %}
            <strong class="block w-full px-0.5 pt-0.5 font-sm font-grey-900 dark:font-grey-100">Lair Actions</strong>
            <dl class="block w-full px-0.5 pb-0.5 font-sm font-grey-900 dark:font-grey-300">
                {% for lairAction in LairActions %}
                    <dt class="block mt-0.5 font-medium block">{{ lairAction.Name }}</dt>
                    <dd>{{ lairAction.Value }}</dd>
                {% endfor %}
            </dl>
        {% endif %}
    </div>
</div>
