package pages

import "tabletopper/templ/layouts"

templ ServerError() {
	@layouts.Base("Server Error | Tabletopper") {
		@documentCard("Server Error", "/", "Go Home") {
			<p>Something went wrong on the server. If this continues to happen <a class="link" href="https://github.com/codewithkyle/tabletopper/issues" target="_blank">submit an issue.</a></p>
		}
	}
}
