package pages

import "tabletopper/templ/layouts"

templ SharedMonsterPage(data SharedMonsterData) {
	@layouts.Share(SharedMonsterTitle(data.Block.Name), false) {
		@sharedPageActions(data.Actions)
		<article class={ sheetSurface }>
			<div class="card-body gap-3 p-6 max-[700px]:p-4">
				@statBlockBody(data.Block)
			</div>
		</article>
		if data.Description != "" {
			@sheetPanel("Description") {
				<p class="m-0 text-sm whitespace-pre-line">{ data.Description }</p>
			}
		}
	}
}
