package pages

import "tabletopper/templ/layouts"

templ TOS() {
	@layouts.Base("Terms of Service | Tabletopper") {
		@documentCard("Terms of Service", "/", "Close") {
			<p class="mb-4">Last Updated: 2023-11-30</p>
			<p class="mb-4">Welcome to Tabletopper! Please carefully read these Terms of Service ("Terms") before using Tabletopper ("Service"). By accessing or using the Service, you agree to be bound by these Terms. If you do not agree with any part of these Terms, you may not use the Service.</p>
			@documentHeading("Acceptance of Terms")
			<p class="mb-4">By accessing or using the Tabletopper web application, you agree to be bound by these Terms and all applicable laws and regulations. If you do not agree with any of these terms, you are prohibited from using or accessing this site.</p>
			@documentHeading("Description of Service")
			<p class="mb-4">Tabletopper is a web application designed to enhance the tabletop gaming experience by providing tools for creating, managing, and sharing game sessions, characters, and related content.</p>
			@documentHeading("User Registration")
			<p class="mb-4">In order to access certain features of the Service, you may be required to register for an account. You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete.</p>
			@documentHeading("User Content")
			<p class="mb-4">Users of Tabletopper may submit, upload, or otherwise make available content, including text, images, and other materials. By submitting content, you grant Tabletopper a worldwide, non-exclusive, royalty-free license to use, reproduce, distribute, modify, adapt, publicly perform, and publicly display such content.</p>
			@documentHeading("Prohibited Conduct")
			<p class="mb-4">You agree not to engage in any of the following activities:</p>
			<ul class="mb-8 list-disc pl-6">
				<li>Violating any applicable laws or regulations.</li>
				<li>Impersonating any person or entity.</li>
				<li>Interfering with the proper functioning of the Service.</li>
				<li>Attempting to gain unauthorized access to other users' accounts.</li>
			</ul>
			@documentHeading("Intellectual Property")
			<p class="mb-4">All content and materials available on the Service, including but not limited to text, graphics, logos, button icons, images, audio clips, and data compilations, is the property of Tabletopper or its licensors and is protected by copyright, trademark, and other intellectual property laws.</p>
			@documentHeading("Termination")
			<p class="mb-4">Tabletopper reserves the right to terminate your access to the Service at its sole discretion, without notice, for any conduct that Tabletopper, in its sole discretion, believes is in violation of these Terms or is harmful to other users, third parties, or Tabletopper itself.</p>
			@documentHeading("Disclaimer of Warranties")
			<p class="mb-4">The Service is provided on an "as is" and "as available" basis. Tabletopper makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property.</p>
			@documentHeading("Limitation of Liability")
			<p class="mb-4">In no event shall Tabletopper be liable for any damages arising out of the use or inability to use the Service, even if Tabletopper or a Tabletopper authorized representative has been notified orally or in writing of the possibility of such damage.</p>
			@documentHeading("Changes to Terms")
			<p class="mb-4">Tabletopper reserves the right to modify or replace these Terms at any time. Your continued use of the Service after any such changes constitutes your acceptance of the new Terms.</p>
			@documentHeading("Governing Law")
			<p class="mb-4">These Terms shall be governed by and construed in accordance with the laws of Michigan, USA.</p>
			<p>Thank you for using Tabletopper! May your gaming adventures be epic!</p>
		}
	}
}
