<tool-bar
    x-data="{ open: '' }"
    x-on:keydown.escape.window="open = ''"
    x-on:click.outside="open = ''"
>
</tool-bar>
<initiative-tracker></initiative-tracker>
<turn-timer></turn-timer>
<tabletop-page>
    <tabletop-component></tabletop-component>
</tabletop-page>
<tool-bar-menu
    x-data="{ open: false, left: 0 }"
    x-on:open.window="open = true; left = $event.detail.left;"
    x-show="open"
    x-on:keydown.escape.window="open = false"
>
    <div 
        class="menu"
        x-on:click.outside="open = false"
        :style="{ transform: 'translateX(' + left + 'px)' }"
    ></div>
</tool-bar-menu>
<tabletop-images
    x-data="{ open: false }"
    x-on:show-tabletop-images.window="open = true"
    x-on:keydown.escape.window="open = false"
    x-show="open"
>
    <div 
        class="modal"
        x-on:click.outside="open = false"
        x-data="{ selected: '' }"
    ></div>
</tabletop-images>
<mini-tool-bar
    x-data="{ active: 'move' }"
>
    <button
        class="bttn"
        :class="{ 'is-active': active == 'move' }"
        sfx="button"
        kind="text"
        color="white"
        icon="center"
        shape="round"
        tooltip="Move"
        x-on:click="$dispatch('window:draw:close');$dispatch('window:fog:close');active = 'move';$dispatch('tabletop:mode', { mode: 'move' });"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 9l3 3l-3 3" /><path d="M15 12h6" /><path d="M6 9l-3 3l3 3" /><path d="M3 12h6" /><path d="M9 18l3 3l3 -3" /><path d="M12 15v6" /><path d="M15 6l-3 -3l-3 3" /><path d="M12 3v6" /></svg>
    </button>
    <button
        class="bttn"
        :class="{ 'is-active': active == 'measure' }"
        sfx="button"
        kind="text"
        color="white"
        icon="center"
        tooltip="Measure"
        shape="round"
        x-on:click="$dispatch('window:draw:close');$dispatch('window:fog:close');active = 'measure';$dispatch('tabletop:mode', { mode: 'measure' });"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 3l4 4l-14 14l-4 -4z" /><path d="M16 7l-1.5 -1.5" /><path d="M13 10l-1.5 -1.5" /><path d="M10 13l-1.5 -1.5" /><path d="M7 16l-1.5 -1.5" /></svg>
    </button>
    {% if GM %}
        <button
            class="bttn"
            :class="{ 'is-active': active == 'fog' }"
            sfx="button"
            kind="text"
            color="white"
            icon="center"
            tooltip="Fog"
            shape="round"
            x-on:click="$dispatch('window:draw:close');$dispatch('window:fog');active = 'fog';$dispatch('tabletop:mode', { mode: 'lock' });"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 16a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-12" /><path d="M5 20l14 0" /></svg>
        </button>
        <button
            class="bttn"
            :class="{ 'is-active': active == 'draw' }"
            sfx="button"
            kind="text"
            color="white"
            icon="center"
            tooltip="Draw"
            shape="round"
            x-on:click="$dispatch('window:fog:close');$dispatch('window:draw');active = 'draw';$dispatch('tabletop:mode', { mode: 'lock' });"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21v-4a4 4 0 1 1 4 4h-4" /><path d="M21 3a16 16 0 0 0 -12.8 10.2" /><path d="M21 3a16 16 0 0 1 -10.2 12.8" /><path d="M10.6 9a9 9 0 0 1 4.4 4.4" /></svg>
        </button>
    {% endif %}
</mini-tool-bar>
<tabletop-settings
    x-data="{ open: false, cellSize: 32, renderGrid: false, cellDistance: 5 }"
    x-on:show-tabletop-settings.window="open = true"
    x-on:keydown.escape.window="open = false"
    x-show="open"
>
    <div 
        class="modal"
        x-on:click.outside="open = false"
    ></div>
</tabletop-settings>
<monster-maker
    x-data="{ open: false }"
    x-on:show-monster-maker.window="open = true"
    x-show="open"
>
    <div 
        class="modal"
    ></div>
</monster-maker>
<spotlight-search
    x-data="{ open: false }"
    x-on:show-spotlight-search.window="open = true"
    x-on:keydown.escape.window="open = false"
    x-show="open"
>
    <div 
        class="modal"
        x-on:click.outside="open = false"
    ></div>
</spotlight-search>
<quick-spawn
    x-data="{ open: false, name: '' }"
    x-on:show-quick-spawn.window="open = true"
    x-show="open"
>
    <div 
        class="modal"
    >
        <h2 class="font-grey-800 dark:font-grey-100 font-bold block px-1.5 pt-1.25 pb-1.25 border-b-solid border-b-1 border-b-grey-300 dark:border-b-grey-700">Quick Spawn</h2>
        <div id="create-monster" class="container w-full px-2 pt-2 pb-1" grid="columns 1 gap-1.5">
            <input-component
                data-name="name"
                data-label="Name"
                data-required="true"
                :data-value="name"
                @input="name = $event.detail.value"
            ></input-component>
            <div class="w-full" grid="columns 2 gap-1.5">
                <select-component
                    data-name="type"
                    data-label="Type"
                    data-required="true"
                    data-options='[{"label":"NPC","value":"npc"}{% if GM %},{"label":"Monster","value":"monster"}{% endif %}]'
                    data-value="npc"
                ></select-component>
                <select-component
                    data-name="size"
                    data-label="Size"
                    data-required="true"
                    data-options='[{"label":"Tiny","value":"tiny"},{"label":"Small","value":"small"},{"label":"Medium","value":"medium"},{"label":"Large","value":"large"},{"label":"Huge","value":"huge"},{"label":"Gargantuan","value":"gargantuan"}]'
                    data-value="medium"
                ></select-component>
                <number-input-component
                    data-name="ac"
                    data-label="Armor Class"
                    data-required="true"
                    data-value="0"
                ></number-input-component>
                <number-input-component
                    data-name="hp"
                    data-label="Hit Points"
                    data-required="true"
                    data-value="1"
                    data-min="1"
                ></number-input-component>
            </div>
        </div>
        <div class="p-1 block w-full">
            <div class="radius-0.5 w-full p-1 bg-grey-50 dark:bg-grey-950/60" flex="row nowrap items-center justify-end">
                <button
                    class="mr-1 bttn"
                    sfx="button"
                    kind="solid"
                    color="grey"
                    x-on:click="open = false"
                >Cancel</button>
                <button
                    class="bttn"
                    sfx="button"
                    kind="solid"
                    color="success"
                    :disabled="!name"
                    x-on:click="open = false; $dispatch('tabletop:quick-spawn');"
                >Spawn</button>
            </div>
        </div>
    </div>
</quick-spawn>
<user-menu
    x-data="{ open: false }"
    x-on:show-user-menu.window="open = true"
    x-on:keydown.escape.window="open = false"
    x-show="open"
>
    <div 
        class="modal"
        x-on:click.outside="open = false"
        x-data="{ selected: '' }"
    >
    </div>
</user-menu>
<conditions-menu
    x-data="{ open: false }"
    x-on:show-conditions-menu.window="open = true"
    x-on:keydown.escape.window="open = false"
    x-show="open"
>
    <div 
        class="modal"
        x-on:click.outside="open = false"
        x-data="{ name: '', duration: -1, color: 'white' }"
    >
        <h2 class="font-grey-800 dark:font-grey-100 font-bold block px-1.5 pt-1.25 pb-1.25 border-b-solid border-b-1 border-b-grey-300 dark:border-b-grey-700">Condition Editor</h2>
        <div class="container w-full px-2 pt-2 pb-1" grid="columns 1 gap-1.5">
            <input-component
                data-name="name"
                data-label="Name"
                data-required="true"
                data-datalist='["Blinded", "Charmed", "Deafened", "Frightened", "Grappled", "Incapacitated", "Invisible", "Paralyzed", "Petrified", "Poisoned", "Restrained", "Stunned", "Unconscious", "Exhaustion"]'
                :data-value="name"
                @input="name = $event.detail.value"
            ></input-component>
            <number-input-component
                data-name="duration"
                data-label="Duration"
                data-instructions="Number of turns this condition should persist. Set to -1 if this condition should be manually removed."
                data-required="false"
                :data-value="duration"
                data-min="-1"
                @input="duration = $event.detail.value"
            ></number-input-component>
            <select-component
                data-name="color"
                data-label="Color"
                data-required="true"
                data-options='[{"label":"White","value":"white"},{"label":"Blue","value":"blue"},{"label":"Green","value":"green"},{"label":"Orange","value":"orange"},{"label":"Pink","value":"pink"},{"label":"Purple","value":"purple"},{"label":"Red","value":"red"},{"label":"Yellow","value":"yellow"}]'
                :data-value="color"
                @change="color = $event.detail.value"
            ></select-component>
        </div>
        <div class="p-1 block w-full">
            <div class="radius-0.5 w-full p-1 bg-grey-50 dark:bg-grey-950/60" flex="row nowrap items-center justify-end">
                <button
                    class="mr-1 bttn"
                    sfx="button"
                    kind="solid"
                    color="grey"
                    x-on:click="open = false"
                >Cancel</button>
                <button
                    class="bttn"
                    sfx="button"
                    kind="solid"
                    color="success"
                    :disabled="!name"
                    x-on:click="open = false; $dispatch('add-condition', { name: name, duration: duration, color: color }); name = ''; duration = 1; color = 'white';"
                >Add Condition</button>
            </div>
        </div>
    </div>
</conditions-menu>
