<tool-bar
    x-data="{ open: '' }"
    x-on:keydown.escape.window="open = ''"
    x-on:click.outside="open = ''"
>
</tool-bar>
<tabletop-page></tabletop-page>
<tool-bar-menu
    x-data="{ open: false, left: 0 }"
    x-on:open.window="open = true; left = $event.detail.left;"
    x-show="open"
    x-on:keydown.escape.window="open = false"
>
    <div 
        class="menu"
        x-on:click.outside="open = false"
        :style="{ transform: 'translateX(' + left + 'px)' }"
    ></div>
</tool-bar-menu>
