skills-table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    width: 100%;

    skills-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem;
        width: 100%;
    }

    skill-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        width: 100%;
        border-radius: 0.25rem;
        border: 1px solid var(--sheet-rule);
        padding: 0.5rem;

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
        }
    }

    skill-name {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.125rem;
        min-width: 0;

        .label {
            font-size: var(--font-sm);
            font-weight: var(--font-medium);
            color: var(--grey-800);

            @media (prefers-color-scheme: dark) {
                color: var(--grey-300);
            }
        }

        .ability {
            font-size: var(--font-xs);
            color: var(--grey-600);

            @media (prefers-color-scheme: dark) {
                color: var(--grey-400);
            }
        }
    }

    input.bonus {
        background-color: var(--white);
        display: block;
        min-height: 36px;
        width: 56px;
        text-align: right;
        font-size: var(--font-sm);
        line-height: 1.375;
        color: var(--grey-800);
        padding: 0 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid var(--grey-300);

        &:focus-within {
            outline: var(--focus-ring);
            outline-offset: 5px;
            transition: outline-offset 80ms var(--ease-in-out);

            @media (prefers-color-scheme: dark) {
                border-color: var(--primary-400);
                outline: none;
                box-shadow: 0 0 0 5px hsl(var(--primary-400-hsl) / 0.1);
            }
        }

        @media (prefers-color-scheme: dark) {
            color: var(--grey-300);
            border-color: var(--grey-700);
            background-color: hsl(var(--white-hsl) / 0.05);

            &:focus {
                background-color: transparent;
            }
        }
    }
}
