stat-block{
    display: block;
    width: 100%;
    position: relative;
    padding: 1rem;

    &.overhealed {
        input-component.input:first-of-type input-container input{
            color: var(--success-700) !important;
        }
    }

    &.bloody{ 
        input-component.input:first-of-type input-container input{
            color: var(--danger-700) !important;
        }
    }

    .conditions{
        position: relative;

        condition-badge{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-flow: row nowrap;
            position: relative;
            height: 32px;
            border-radius: 0.5rem;
            background-color: var(--white);
            border: 1px solid var(--grey-300);
            color: var(--grey-700);
            font-size: var(--font-sm);
            font-weight: var(--font-medium);
            padding: 0 0.75rem;
            transition: all 80ms var(--ease-in-out);
            cursor: pointer;
            user-select: none;
            margin: 0 0.5rem 0.5rem 0;

            &[color="blue"]{
                border-color: var(--blue);
            }

            &[color="green"]{
                border-color: var(--green);
            }

            &[color="orange"]{
                border-color: var(--orange);
            }

            &[color="pink"]{
                border-color: var(--pink);
            }

            &[color="purple"]{
                border-color: var(--purple);
            }

            &[color="red"]{
                border-color: var(--red);
            }

            &[color="white"]{
                border-color: var(--white);
            }

            &[color="yellow"]{
                border-color: var(--yellow);
            }

            &:hover {
                background-color: var(--grey-50);

                & svg {
                    color: var(--grey-600);

                    @media (prefers-color-scheme: dark) {
                        color: var(--grey-300);
                    }
                }
            }

            &:active,
            &.is-active {
                background-color: var(--grey-100);
                outline-offset: 0 !important;
                transition: outline-offset 0ms linear;
            }

            &:focus-visible {
                outline: var(--focus-ring);
                outline-offset: 5px;
            }

            @media (prefers-color-scheme: dark) {
                background-color: hsl(var(--grey-950-hsl) / 0.6);
                color: var(--grey-300);

                &:hover,
                &:focus-visible {
                    color: var(--grey-100);
                    background-color: hsl(var(--grey-950-hsl) / 0.6);

                    &::before {
                        opacity: 0.05;
                    }
                }

                &:active,
                &.is-active {
                    color: var(--white);
                    background-color: hsl(var(--grey-950-hsl) / 0.6);

                    &::before {
                        opacity: 0.1;
                    }
                }
            }

            svg {
                width: 14px;
                height: 14px;
                color: var(--grey-400);
                margin-left: 0.5rem;

                @media (prefers-color-scheme: dark) {
                    color: var(--grey-600);
                }
            }
        }
    }
}
