stat-block{
    display: block;
    width: 100%;
    position: relative;
    padding: 1rem;

    &.overhealed {
        input-component.input:first-of-type input-container input{
            color: var(--success-700) !important;
        }
    }

    &.bloody{ 
        input-component.input:first-of-type input-container input{
            color: var(--danger-700) !important;
        }
    }

    .rings{
        position: relative;

        input{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + label{
                &::after{
                    opacity: 1;
                }
            }
        }

        label{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            margin: 0 0.25rem 0.25rem 0;
            cursor: pointer;

            &[color="blue"]{
                &::before{
                    border-color: var(--blue);
                }
                &::after{
                    background-color: var(--blue);
                }
            }

            &[color="green"]{
                &::before{
                    border-color: var(--green);
                }
                &::after{
                    background-color: var(--green);
                }
            }

            &[color="orange"]{
                &::before{
                    border-color: var(--orange);
                }
                &::after{
                    background-color: var(--orange);
                }
            }

            &[color="pink"]{
                &::before{
                    border-color: var(--pink);
                }
                &::after{
                    background-color: var(--pink);
                }
            }

            &[color="purple"]{
                &::before{
                    border-color: var(--purple);
                }
                &::after{
                    background-color: var(--purple);
                }
            }

            &[color="red"]{
                &::before{
                    border-color: var(--red);
                }
                &::after{
                    background-color: var(--red);
                }
            }

            &[color="white"]{
                &::before{
                    border-color: var(--white);
                }
                &::after{
                    background-color: var(--white);
                }
            }

            &[color="yellow"]{
                &::before{
                    border-color: var(--yellow);
                }
                &::after{
                    background-color: var(--yellow);
                }
            }

            &::before{
                content: "";
                display: inline-block;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                position: absolute;
                border-width: 2px;
                border-style: solid;
            }

            &::after{
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                opacity: 0;
            }
        }
    }
}
