turn-timer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    position: fixed;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    user-select: none;
    backdrop-filter: blur(8px);
    background-color: var(--white);
    border: 3px solid var(--grey-300);
    width: 192px;
    height: 96px;
    border-radius: 1rem;
    transition: all 150ms var(--ease-in-out);
    cursor: pointer;

    &[hidden]{
        display: none;
    }

    &[color="safe"]{
        border-color: var(--green);
        span{
            color: var(--green);
        }
    }
    &[color="warning"]{
        border-color: var(--yellow);
        span{
            color: var(--yellow);
        }
    }
    &[color="danger"]{
        border-color: var(--red);
        span{
            color: var(--red);
        }
    }

    @media (prefers-color-scheme: dark){
        background-color: hsl(var(--grey-900-hsl) / 0.87);
        border: 3px solid var(--grey-800);
    }

    span{
        font-size: 48px;
        color: var(--grey-800);
        display: inline-block;
        width: 100%;
        text-align: center;
        font-family: var(--font-mono);
        margin-top: 0.5rem;
        transition: all 150ms var(--ease-in-out);

        @media (prefers-color-scheme: dark){
            color: var(--white);
        }
    }
}
