@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html{
    font-size: 100%;
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overscroll-behavior-x: none;

}
body{
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    overscroll-behavior-x: none;

    background-color: var(--color-base-100);

    background-image:
        linear-gradient(color-mix(in oklab, var(--color-base-content) 12%, transparent) 1px, transparent 1px),
        linear-gradient(90deg, color-mix(in oklab, var(--color-base-content) 8%, transparent) 1px, transparent 1px);
    background-size: 100% 28px, 28px 100%;
}
*{
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
