monster-stat-block{
    display: block;
    width: 100%;
    position: relative;
    padding: 0.5rem;
    background-color: #fdf1dc;
    overscroll-behavior: contain;

    @media (prefers-color-scheme: dark){
        background-color: transparent;
    }
    
    .stats{
        border-top: 4px solid #e69a28;
        border-bottom: 4px solid #e69a28;
        display: block;
        width: 100%;
        padding-bottom: 0.5rem;

        hr{
            display: block;
            width: calc(100% - 1rem);
            margin: 0.125rem auto 0;
            border-bottom: 2px solid var(--danger-800);

            @media (prefers-color-scheme: dark){
                border-bottom-color: var(--danger-600);
            }
        }

        .abilities{
            display: grid;
            width: 100%;
            grid-template-columns: repeat(6, 1fr);
        }
    }
}
