@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    font-size: 100%;
}

body{
    font-family: var(--font-sans-serif);
    background-color: var(--grey-50);
    display: block;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

button{
    padding: 0;
}

*{
    box-sizing: border-box;
}