<home-page class="p-2 max-w-full">
    <div style="backdrop-filter: blur(8px);" class="w-full max-w-768 bg-white dark:bg-grey-900/87 border-1 border-solid border-grey-300 dark:border-grey-800 shadow-black-sm radius-0.5 no-scroll">
        <h1 class="px-2 pt-1.75 font-grey-900 dark:font-grey-100 font-2xl line-normal font-bold block">Greetings Adventurer!</h1>
        <p class="px-2 pb-2 pt-1 font-grey-700 dark:font-grey-300 line-normal block">
            Welcome to Tabletopper, a free web-based virtual tabletop (VTT). Before you continue we must warn you that this is an alpha build which means you may experience some bugs or glitches. Please report any issues through the help menu.
            <br>
            <br>
            May your adventures be grand and your rewards bountiful.
        </p>
        <div flex="justify-end items-center row nowrap" class="p-1 bg-grey-100 dark:bg-grey-950/60 border-t-1 border-t-solid border-t-grey-200 dark:border-t-grey-800">
            <button 
                class="bttn" 
                kind="solid" 
                color="primary"
                hx-get="/stub/home"
                hx-target="home-page"
            >I Understand</button>
        </div>
    </div>
</home-page>
