dice-box{
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1rem 1rem 0.75rem;
    grid-template-rows: auto 36px 12px;
    gap: 0.5rem;

    input{
        width: 100%;
        flex: 1;
        height: 36px;
        border: 1px solid var(--grey-300);
        border-radius: 0.25rem;
        background-color: var(--white);
        padding: 0 0.5rem;

        @media (prefers-color-scheme: dark){
            background-color: hsl(var(--white-hsl)/0.05);
            border-color: var(--grey-700);
            color: var(--white);

            &:focus{
                background-color: transparent;
            }
        }
    }

    dice-log{
        display: block;
        width: 100%;
        border: 1px solid var(--grey-300);
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        overflow-y: scroll;

        @media (prefers-color-scheme: dark){
            border-color: var(--grey-700);
        }

        p{
            display: block;
            width: 100%;
            height: 24px;
            font-size: var(--font-sm);
            color: var(--grey-700);
            line-height: 24px;

            @media (prefers-color-scheme: dark){
                color: var(--grey-300);
            }
        }
    }
}
