.pawn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
    transition: all 300ms var(--ease-in-out);

    &.no-anim{
        transition: none !important;
        cursor: grabbing !important;
    }

    &[pawn="player"]{
        position: absolute;
        width: 75%;
        height: 75%;
        background-color: var(--info-500);
        border-bottom: 2px solid var(--info-600);
        border-radius: 50%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.6);
    }

    &[pawn="npc"]{
        position: absolute;
        width: 75%;
        height: 75%;
        background-color: var(--success-500);
        border-bottom: 2px solid var(--success-600);
        border-radius: 50%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.6);
    }

    &[pawn="monster"]{
        position: absolute;
        width: 75%;
        height: 75%;
        background-color: var(--danger-500);
        border-bottom: 2px solid var(--danger-600);
        border-radius: 50%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.6);
    }

    &[pawn="dead"]{
        position: absolute;
        width: 75%;
        height: 75%;
        background-color: var(--white);
        border-bottom: 2px solid var(--grey-200);
        border-radius: 50%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.6);

        svg{
            width: 75%;
            height: 75%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &.has-image{
        background-color: transparent;
        border-bottom: none;
        box-shadow: none;
    }

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: drop-shadow(0 1px 1px rgba(0,0,0,0.6));
    }

    .ring{
        position: absolute;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        animation-name: spin;
        animation-duration: 3s;
        transition-timing-function: var(--ease-in-out);
        animation-iteration-count: infinite;

        &[color="red"]{
            border-color: var(--red-500);
        }

        &[color="blue"]{
            border-color: var(--blue-500);
        }

        &[color="green"]{
            border-color: var(--green-500);
        }

        &[color="orange"]{
            border-color: var(--orange-500);
        }

        &[color="pink"]{
            border-color: var(--pink-500);
        }

        &[color="purple"]{
            border-color: var(--purple-500);
        }

        &[color="white"]{
            border-color: var(--white);
        }

        &[color="yellow"]{
            border-color: var(--yellow-500);
        }

        &::after{
            position: absolute;
            top: -2px;
            left: -2px;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            content: "";
            border: 2px dashed rgba(0,0,0,0.25);
            border-radius: 50%;
        }
    }
}
@keyframes spin{
    to {
        transform: rotate(0);
    }
    from {
        transform: rotate(360deg);
    }
}
