<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    
    <title>Tabletopper v0.3.5</title>
    <meta name="description" content="Jump into a D&D tabletop session with your friends, hassle free.">

    <link rel="icon" href="/static/favicon.png" sizes="any">
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
    
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/brixi.css">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <link rel="stylesheet" href="/css/notifications.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/tooltip.css">

    <script defer src="/static/htmx.min.js"></script>
    <script defer src="/static/alpine.min.js"></script>
    <script type="module" src="/js/bootstrap.js"></script>
    <script type="module" src="/js/tooltipper.js"></script>

    <script type="module">
        import { UUID } from '/js/uuid.js';
        if (!localStorage.getItem('uid')) {
            localStorage.setItem('uid', UUID());
        }
    </script>
</head>
<body>
    <img id="wood-img" src="/images/background.jpg" width="1920" loading="lazy" draggable="false" onload="this.style.opacity = '1';">
    <div class="w-full h-full" flex="justify-center items-center column wrap">
        {{ embed }}
    </div>
</body>
</html>
