fog-brush{
    display: block;
    padding: 1rem;
}
fog-brush-circle{
    display: inline-block;
    border-radius: 0.25rem;
    background-color: hsl(var(--white-hsl)/0.3);
    border: 1px solid var(--white);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    cursor: crosshair;
}

rect-preview{
    display: inline-block;
    position: fixed;
    border: 1px solid yellow;
    pointer-events: none;
    z-index: 1000;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}
.poly-preview{
    display: inline-block;
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}
