tabletop-page{
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 28px;
    overflow: hidden;

    &[cursor="move"]{
        cursor: move !important;
    }

    &[cursor="grab"]{
        cursor: grab !important;
    }

    &[cursor="grabbing"]{
        cursor: grabbing !important;
    }

    &[cursor="draw"]{
        cursor: crosshair !important;

        .pawn{
            pointer-events: none !important;
        }
    }

    .spinner{
        pointer-events: none;
    }

    *{
        user-select: none;
    }
}
