home-page{
    display: inline-block;
    position: relative;

    .menu{
        h1{
            font-size: 4rem;
            font-family: "Lobster";
            font-weight: var(--font-bold);
            text-shadow: 0 2px 4px rgba(0,0,0,0.3);
            color: var(--white);
            animation: fadeIn forwards 600ms 300ms var(--ease-in);
            opacity: 0;
            margin-bottom: 3rem;

            @media (min-width: 768px){
                font-size: 10rem;
            }
        }

        .actions{
            opacity: 0;
            animation: fadeIn forwards 600ms 300ms var(--ease-in);

            button-component{
                box-shadow: 0 1px 3px rgba(0,0,0,0.3);
            }
        }
    }

    .join,
    .character{
        animation: fadeIn forwards 600ms 0ms var(--ease-in);
    }
}
