home-page {
    display: inline-block;
    position: relative;

    h1 {
        font-size: 9rem;
        font-family: "Lobster";
        font-weight: var(--font-bold);
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        color: var(--white);

        @media (min-width: 768px) {
            font-size: 10rem;
        }
    }

    #user-badge,
    nav,
    h1,
    .actions {
        opacity: 0;
        animation: fadeIn forwards 600ms 300ms var(--ease-in);
    }

    #user-badge {
        margin-top: -1rem;
    }

    .actions {
        button-component {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        }
    }

    nav {
        display: inline-block;
        margin-top: 10vh;
        padding-left: 1rem;

        a {
            display: block;
            margin-bottom: 1.5rem;
            font-size: 3.5rem;
            font-weight: bold;
            color: #fff;
            opacity: 1;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            transition: all 150ms var(--ease-in-out);

            &:hover,
            &:focus-visible {
                color: var(--primary-100);

                @media (prefers-color-scheme: dark) {
                    color: var(--primary-300);
                }
            }
        }
    }
}
