home-page{
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;

    img,
    video{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        user-select: none;
        object-fit: cover;
        opacity: 0;
        animation: showBackground forwards 2s var(--ease-in);
    }

    .menu{
        h1{
            font-size: 10rem;
            font-family: "Lobster";
            font-weight: var(--font-bold);
            text-shadow: 0 2px 4px rgba(0,0,0,0.3);
            color: var(--white);
            animation: showBackground forwards 600ms 300ms var(--ease-in);
            opacity: 0;
            margin-bottom: 3rem;
        }

        .actions{
            opacity: 0;
            animation: showBackground forwards 600ms 300ms var(--ease-in);

            button-component{
                box-shadow: 0 1px 3px rgba(0,0,0,0.3);
            }
        }
    }

    .join,
    .character{
        animation: showBackground forwards 600ms 0ms var(--ease-in);
    }
}
@keyframes showBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}