monster-manual{
    display: block;
    width: 100%;
    position: relative;
    padding: 0.5rem;
    user-select: none;

    .monster{
        height: 36px;
        border-bottom: 1px solid var(--grey-300);

        & > button {
            flex: 1;
            text-align: left;
            justify-content: flex-start;
            border-right: 1px solid var(--grey-300) !important;
        }

        button{
            border-radius: 0 !important;

            &:not(:last-of-type){
                border-right: 1px solid var(--grey-300);
            }
        }
    }
}