<a 
    sfx="button"
    href="mailto:codingwithkyle@gmail.com?subject=Support%20Request&body=Please%20describe%20your%20issue%20below.%20Include%20any%20relevant%20information%20such%20as%20the%20device%20you%20are%20using."
    target="_blank"
>
    <span>Report issue</span>
</a>
<hr>
<a
    sfx="button"
    href="/privacy"
    target="_blank"
>
    <span>Privacy policy</span>
</a>
<a 
    sfx="button"
    href="/tos"
    target="_blank"
>
    <span>Terms of Service</span>
</a>
<!--<button sfx="button">-->
    <!--<span>About</span>-->
<!--</button>-->
