<button sfx="button">
    <span>Zoom in</span>
    <span>Ctrl+=</span>
</button>
<button sfx="button">
    <span>Zoom out</span>
    <span>Ctrl+-</span>
</button>
<button sfx="button">
    <span>100%</span>
    <span>Ctrl+0</span>
</button>
<button sfx="button">
    <span>200%</span>
    <span>Ctrl+0</span>
</button>
<hr>
<button sfx="button">
    <span>Toggle fullscreen</span>
    <span>F11</span>
</button>
<button sfx="button">
    <span>Center tabletop</span>
</button>
<button sfx="button">
    <span>Center on character</span>
</button>
